n8n/medback.json
{
  "name": "medback",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Try to find the text in several common n8n AI output paths\nconst rawText = $json.text || \n                $json.response?.generations?.[0]?.[0]?.text || \n                $json.output;\n\nif (!rawText) {\n  throw new Error(\"Could not find medical text in the input. Check the previous node's output.\");\n}\n\n// 2. Clean out Markdown JSON wrappers (```json ... ```)\nconst cleanJson = rawText.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\n// 3. Return as a clean JSON object\ntry {\n  return JSON.parse(cleanJson);\n} catch (e) {\n  return { error: \"Failed to parse JSON\", originalText: rawText };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -144
      ],
      "id": "e40cdee6-4d67-4bea-ad1c-aa8a81a9c2bc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/Qy4b2JlSGxY7I9M9Bqxb",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"The diagnosis is {{ $json.Diagnosis }}. You have {{ $json.Medications.length }} medications prescribed, including {{ $json.Medications[0].Name }}. Please rest and drink water.\",\n  \"model_id\": \"eleven_monolingual_v1\",\n  \"voice_settings\": {\n    \"stability\": 0.5,\n    \"similarity_boost\": 0.75\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        -144
      ],
      "id": "d84368ad-2681-4b7d-890e-2e98f943539e",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "911tbWbL40vBJxUr",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Merge medical extraction + ElevenLabs MP3 as base64 for the app\nconst medical = $('Code in JavaScript').first().json;\nif (medical.error) {\n  return { json: { summary: '', checklist: [{ text: 'Extraction failed', checked: false }], audio_base64: null } };\n}\nconst checklist = [];\nif (medical.Diagnosis) checklist.push({ text: `Diagnosis: ${medical.Diagnosis}`, checked: true });\n(medical.Medications || []).forEach(m => {\n  const line = typeof m === 'string' ? m : [m.Name, m.Dosage, m.Frequency].filter(Boolean).join(' ');\n  if (line) checklist.push({ text: `Take: ${line}`, checked: true });\n});\n(medical.Warning_Signs || medical.WarningSigns || medical['Warning Signs'] || []).forEach(w => {\n  if (w) checklist.push({ text: `Watch for: ${w}`, checked: false });\n});\nif (checklist.length === 0) checklist.push({ text: 'No specific action items', checked: false });\nconst summary = medical.Diagnosis || 'See checklist.';\nlet audio_base64 = null;\ntry {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'audio');\n  if (buffer) audio_base64 = buffer.toString('base64');\n} catch (e) {}\nreturn { json: { summary, checklist, audio_base64 } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -144
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Prepare Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        848,
        -144
      ],
      "id": "8f8fdf42-eca5-4613-83ee-38be2ec5a043",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Look at the attached medical document. OCR the text with 100% accuracy. Extract the following into a JSON format:\n\nDiagnosis\n\nMedications (Name, Dosage, Frequency)\n\nWarning Signs\n\nReturn ONLY raw JSON. No conversational filler.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        48,
        -144
      ],
      "id": "c8ee5c51-5131-4f54-911a-57ed327dbe90",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        48
      ],
      "id": "c3c60620-4e90-475e-92ac-e3269904075f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kDTwIFOevMIvoBcf",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scan",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -144
      ],
      "id": "0d96ce48-121b-4a7b-9196-19be837e347e",
      "name": "Webhook1",
      "webhookId": "d3dbeb53-9065-4122-97f0-bdbc34668a63"
    },
    {
      "parameters": {
        "jsCode": "// Get the image from webhook form data\nconst imageFile = $input.item.binary.image || $input.item.binary.data;\n\nif (!imageFile) {\n  throw new Error('No image found in webhook data');\n}\n\n// Pass through the binary data\nreturn {\n  json: {},\n  binary: {\n    data: imageFile\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -144
      ],
      "id": "5cc0118d-e569-497f-b890-1ff03c9fdf2e",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "44fa9b8a-065b-4067-827c-40ddee0b8acf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "307ae928639dd5af7370c1726e366f8a41f406a4e12fc37968ce195554674113"
  },
  "id": "meB2jd3Qo_DmgNrTa-tDP",
  "tags": []
}