n8n/Medical Agent Backend.json
{
  "name": "Medical Agent Backend",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Try to find the text in several common n8n AI output paths\nconst rawText = $json.text || \n                $json.response?.generations?.[0]?.[0]?.text || \n                $json.output;\n\nif (!rawText) {\n  throw new Error(\"Could not find medical text in the input. Check the previous node's output.\");\n}\n\n// 2. Clean out Markdown JSON wrappers (```json ... ```)\nconst cleanJson = rawText.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\n// 3. Return as a clean JSON object\ntry {\n  return JSON.parse(cleanJson);\n} catch (e) {\n  return { error: \"Failed to parse JSON\", originalText: rawText };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        208
      ],
      "id": "5927c1b1-05aa-46d2-b21c-5b6f797bba9e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/Qy4b2JlSGxY7I9M9Bqxb",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"The diagnosis is {{ $json.Diagnosis }}. You have {{ $json.Medications.length }} medications prescribed, including {{ $json.Medications[0].Name }}. Please rest and drink water.\",\n  \"model_id\": \"eleven_monolingual_v1\",\n  \"voice_settings\": {\n    \"stability\": 0.5,\n    \"similarity_boost\": 0.75\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1520,
        208
      ],
      "id": "f6950368-f990-472d-9524-aa4044162826",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9dMnuf77yEVh1GAA",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scan",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        752,
        208
      ],
      "id": "d3a9ace8-7247-476b-b869-dff6198b08b6",
      "name": "Webhook",
      "webhookId": "d3dbeb53-9065-4122-97f0-bdbc34668a63"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"summary\": \"{{ $('Google Gemini Chat Model').first().json.text }}\",\n  \"checklist\": [\"Drink water\", \"Rest\"],\n  \"audio_url\": \"placeholder\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1744,
        208
      ],
      "id": "0395d31f-c0b6-4b42-84d4-2c0b0aed36ea",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Look at the attached medical document. OCR the text with 100% accuracy. Extract the following into a JSON format:\n\nDiagnosis\n\nMedications (Name, Dosage, Frequency)\n\nWarning Signs\n\nReturn ONLY raw JSON. No conversational filler.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        944,
        208
      ],
      "id": "cdaf167f-0cec-432a-b6aa-e0a7cc31271b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        400
      ],
      "id": "8c21e076-78aa-4712-ac6b-edca82fdab98",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bL89bQkJDi41wq1Q",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4a7d5886-94e9-4f07-868d-7464d5266123",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "307ae928639dd5af7370c1726e366f8a41f406a4e12fc37968ce195554674113"
  },
  "id": "bPO2wdY0OvCKADsEpHWHq",
  "tags": []
}